/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 186, 186);
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
/* Button-Stil */
.button {
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    background-color: #333;
    color: #fff; /* Textfarbe auf Weiß ändern */
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}
